.communication{
  height: calc(100dvh - 9dvh);
  .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
    h1{
      text-align: center;
      font-size: 50px;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 0;
      line-height: 1;
      font-weight: 700;
      .dot{
        color: #4FEBFE;
      }
    }
    p{
      text-align: center;
      margin: 18px;
      font-family: 'Muli', sans-serif;
      font-weight: normal;
    }
  }
}