.accueil{
  .hero-section{
    .carousel-wrapper{
      height: calc(80dvh - 9dvh);
      position: relative;
      width:99dvw;
      display: block;
      .item-1{}
      .item-2{}
      .item-3{}
    }
    .carousel-item{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 25px 50px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      .arrow{
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 12px;
      }
      .arrow-prev {
        left: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
      
      }
      .arrow-next {
        right: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
    [id^= "item"] {
      display: none;
    }
    .item-1 {
      z-index: 2;
      opacity: 1;
      background: url("../../../public/uploads/005.jpg");
      background-size: cover;
    }
    .item-2 {
      background: url('../../../public/uploads/006.jpg');
      background-size: cover;
    }
    .item-3 {
      background: url("../../../public/uploads/007.jpg");
      background-size: cover;
    }
    *:target ~ .item-1{
      opacity: 0;
    }
    #item-1:target ~ .item-1 {
      opacity: 1;
    
    }
    #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    } 

  }
  .intro{
    margin: 4dvh 0;
    h2{
      margin: 0 9dvw;
      span{

      }
    }
    hr{
      width: 31.5dvw;
      margin: 2dvh 9dvw;
      border: solid 2px black;
    }
    .cards{
      display: flex;
      justify-content: space-between;
      margin: 0 9dvw;
      gap: 1dvw;
      .card{
        background: lightgray;
        border: solid 1px lightsalmon;
        border-radius: .5rem;
        h3{
          padding: 0.5em;
          font-size: 1.2rem;
          font-weight: 600;
          text-align: center;
          color: darken($color: #000000, $amount: 0);
        }
        p{
          padding: 0.5em;
          font-size: 1rem;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
  .video-section{
    display: flex;
    justify-content: space-between;
    margin: 5dvh 0;
    gap: 4dvw;
    .left{
      margin-left: 9dvw;
      span{}
      h3{}
      hr{}
      p{}
    }
    .right{
      margin-right: 9dvw;
      video{
        width: 600px;
        height: 360px;
      }
    }
  }
  .services-section{
    
  }
}