@import "../../../style.scss";
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9dvh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: whitesmoke;
  font-size: .9em;
  font-weight: 600;
  opacity: 80%;
  @include mobile{
    // mobile styles here
  }
  .logo{
    margin-left: 6dvw;
    a{
      img{
        height: 8dvh;
      }
    }
  }
  .menu{
    ul{
      display: flex;
      align-items: center;
      gap: 1.2dvw;
      li{
        .link{
          color: rgb(96, 95, 95);
        }
      }
    }
  }
  .contact-info{
    display: flex;
    align-items: center;
    margin-right: 6dvw;
    gap: 2dvw;
    .horaire{
      span{
        color: rgb(96, 95, 95);
      }
    }
    .telphone{
      span{
        a{
          color: rgb(96, 95, 95);
        }
      }
    }
  }
}