.qui-some-nous{
  .mot-president{
    margin: 0 8dvw;
    display: flex;
    justify-content: space-between;
    gap: 4dvw;
    .left{
      img{
        width: 40dvw;
        height: 80dvh;
        padding: 5px;
        border-radius: 10px;
      }
    }
    .right{
      text-align: justify;
      margin: 1dvh 0;
      p{
        line-height: 1.3rem;
        margin: 1dvh 0;
        span{
          margin: 3dvh 3dvw 0 3dvh;
        }
      }

    }
  }
  .notre-histoire{
    margin-top: 5dvh;
    h2{
      text-align: center;
      margin-bottom: 2dvh;
    }
    hr{
      width: 10dvw;
      margin-left: 45%;
      border: solid 2px black;
    }
    .events{
      margin-top: 3dvh;
      display: flex;
      .event-card{

      }
    }
  }
  .a-propos{}
}