@import "../../style.scss";
.qui-some-nous{
  .mot-president{
    margin: 0 8dvw;
    display: flex;
    justify-content: space-between;
    gap: 4dvw;
    @include mobile{
      display: block;
      margin: 0 4dvw;
    }
    .left{
      img{
        width: 40dvw;
        height: 80dvh;
        padding: 5px;
        border-radius: 10px;
        @include mobile{
          width: 89dvw;
          height: 40dvh;
        }
      }
    }
    .right{
      text-align: justify;
      margin: 1dvh 0;
      p{
        line-height: 1.3rem;
        margin: 1dvh 0;
        @include mobile{
          line-height: 1.1rem;
          margin: 1dvh 3dvw;
        }
        span{
          margin: 3dvh 3dvw 0 3dvh;
          @include mobile{
            margin: 1dvh 3dvw;
          }
        }
      }
    }
  }
  .notre-histoire{
    margin-top: 5dvh;
    h2{
      text-align: center;
      margin-bottom: 2dvh;
    }
    hr{
      width: 10dvw;
      margin-left: 45%;
      border: solid 2px black;
    }
    .events{
      margin-top: 3dvh;
      display: flex;
      .event-card{

      }
    }
  }
  .a-propos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4dvw;
    margin: 4dvh 8dvw;
    @include mobile{
      display: block;
    }
    .left{
      h2{
        font-size: 1.8rem;
        font-weight: 800;
        text-transform: uppercase;
      }
      hr{
        width: 30dvw;
        border: solid 2px black;
        margin: 2dvh 0;
      }
      p{
        text-align: justify;
      }
    }
    .right{
      img{
        width: 45dvw;
        height: 65dvh;
        @include mobile{
          width: 89dvw;
          height: 40dvh;
        }
      }
    }
  }
}